CrazyAuction/ProxyClient/src/META-INF/wsdl/localhost_8080/CrazyAuctionWebService/CrazyAuctionWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CrazyAuctionWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CrazyAuctionWebService/CrazyAuctionWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remoteBrowseAllAuctionListings">
<part name="parameters" element="tns:remoteBrowseAllAuctionListings"/>
</message>
<message name="remoteBrowseAllAuctionListingsResponse">
<part name="parameters" element="tns:remoteBrowseAllAuctionListingsResponse"/>
</message>
<message name="remoteViewWonAuctionListings">
<part name="parameters" element="tns:remoteViewWonAuctionListings"/>
</message>
<message name="remoteViewWonAuctionListingsResponse">
<part name="parameters" element="tns:remoteViewWonAuctionListingsResponse"/>
</message>
<message name="remoteViewAuctionListingDetail">
<part name="parameters" element="tns:remoteViewAuctionListingDetail"/>
</message>
<message name="remoteViewAuctionListingDetailResponse">
<part name="parameters" element="tns:remoteViewAuctionListingDetailResponse"/>
</message>
<message name="AuctionListingNotFoundException">
<part name="fault" element="tns:AuctionListingNotFoundException"/>
</message>
<message name="remoteViewCreditBalance">
<part name="parameters" element="tns:remoteViewCreditBalance"/>
</message>
<message name="remoteViewCreditBalanceResponse">
<part name="parameters" element="tns:remoteViewCreditBalanceResponse"/>
</message>
<message name="premiumRegistration">
<part name="parameters" element="tns:premiumRegistration"/>
</message>
<message name="premiumRegistrationResponse">
<part name="parameters" element="tns:premiumRegistrationResponse"/>
</message>
<message name="remoteLogout">
<part name="parameters" element="tns:remoteLogout"/>
</message>
<message name="remoteLogoutResponse">
<part name="parameters" element="tns:remoteLogoutResponse"/>
</message>
<message name="remoteLogin">
<part name="parameters" element="tns:remoteLogin"/>
</message>
<message name="remoteLoginResponse">
<part name="parameters" element="tns:remoteLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="checkIfPremium">
<part name="parameters" element="tns:checkIfPremium"/>
</message>
<message name="checkIfPremiumResponse">
<part name="parameters" element="tns:checkIfPremiumResponse"/>
</message>
<portType name="CrazyAuctionWebService">
<operation name="remoteBrowseAllAuctionListings">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteBrowseAllAuctionListingsRequest" message="tns:remoteBrowseAllAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteBrowseAllAuctionListingsResponse" message="tns:remoteBrowseAllAuctionListingsResponse"/>
</operation>
<operation name="remoteViewWonAuctionListings">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewWonAuctionListingsRequest" message="tns:remoteViewWonAuctionListings"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewWonAuctionListingsResponse" message="tns:remoteViewWonAuctionListingsResponse"/>
</operation>
<operation name="remoteViewAuctionListingDetail">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewAuctionListingDetailRequest" message="tns:remoteViewAuctionListingDetail"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewAuctionListingDetailResponse" message="tns:remoteViewAuctionListingDetailResponse"/>
<fault message="tns:AuctionListingNotFoundException" name="AuctionListingNotFoundException" wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewAuctionListingDetail/Fault/AuctionListingNotFoundException"/>
</operation>
<operation name="remoteViewCreditBalance">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewCreditBalanceRequest" message="tns:remoteViewCreditBalance"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteViewCreditBalanceResponse" message="tns:remoteViewCreditBalanceResponse"/>
</operation>
<operation name="premiumRegistration">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/premiumRegistrationRequest" message="tns:premiumRegistration"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/premiumRegistrationResponse" message="tns:premiumRegistrationResponse"/>
</operation>
<operation name="remoteLogout">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLogoutRequest" message="tns:remoteLogout"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLogoutResponse" message="tns:remoteLogoutResponse"/>
</operation>
<operation name="remoteLogin">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLoginRequest" message="tns:remoteLogin"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLoginResponse" message="tns:remoteLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/remoteLogin/Fault/CustomerNotFoundException"/>
</operation>
<operation name="checkIfPremium">
<input wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/checkIfPremiumRequest" message="tns:checkIfPremium"/>
<output wsam:Action="http://ws.session.ejb/CrazyAuctionWebService/checkIfPremiumResponse" message="tns:checkIfPremiumResponse"/>
</operation>
</portType>
<binding name="CrazyAuctionWebServicePortBinding" type="tns:CrazyAuctionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remoteBrowseAllAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteViewWonAuctionListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteViewAuctionListingDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionListingNotFoundException">
<soap:fault name="AuctionListingNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="remoteViewCreditBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premiumRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="checkIfPremium">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CrazyAuctionWebService">
<port name="CrazyAuctionWebServicePort" binding="tns:CrazyAuctionWebServicePortBinding">
<soap:address location="http://localhost:8080/CrazyAuctionWebService/CrazyAuctionWebService"/>
</port>
</service>
</definitions>